<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name, "Team Name" %>
    <%= f.text_field :team_name %>
  </div>

  <div class="field">
    <%= f.label :manager_id, "Manager" %>
    <%= f.select(:manager_id, @managers.map { |manager| [ manager.full_name, manager.id ] }, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :department_id, "Department" %>
    <%= f.select(:department_id, @departments.map { |department| [ department.department_name, department.id ] }, selected: team.department_id, include_blank: true ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
