<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>

      <th>
          <%= sortable "First Name" %>
      </th>
      <th>
          <%= sortable "Last Name" %>
      </th>
      <th>
          <%= sortable "Role" %>
      </th>
      <th>
          <%= sortable "Position" %>
      </th>
      <th>
          <%= sortable "Team Name" %>
      </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role.titleize %></td>
        <td><%= user.position %></td>
        <%- if user.team %>  
          <td><%= user.team.team_name %></td>
        <%- else %>  
          <td>Not Yet Assigned to a Team</td>
        <%- end %>  
          
        <td><%= link_to 'User Details', user %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<!-- User.all.each { |u| u.update_attributes({team_id: 17}) if u.team_name == "Team Lion" && u.team_id.blank? }
 -->