<h1>
	Dashboard	
</h1>

<h4>
	Name: <%= current_user.full_name %>
</h4>

<h4>
	Position: <%= current_user.position %>
</h4>

<%- if current_user.team %>	
	<h4>
		Manager: <%= User.find(current_user.team.manager_id).full_name %>
	</h4>
<%- end %>	

<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Create New Request', new_user_request_path(current_user) %>