<%= form_for [@user, request] do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <%- unless current_user.employee? %>
    <div class="field">
      <%= f.label :status %>
      <%= f.select(:status, Request.statuses.keys.map { |status| [ status.titleize, status ] }, :selected => request.status) %>
    </div>
  <%- end %>


  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <%= hidden_field(:user_id, @user.id) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
