<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.start_date %></td>
        <td><%= request.end_date %></td>
        <td><%= request.status %></td>
        <td><%= request.note %></td>
        <td><%= link_to 'Show', user_request_path(@user, request) %></td>
        <td><%= link_to 'Edit', edit_user_request_path(@user, request) %></td>
        <td><%= link_to 'Destroy', user_request_path(@user, request), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_user_request_path(@user) %>
